<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">

<h:head>
    <title><h:outputText value="CDI" /></title>
</h:head>

<h:body>
	<h:form>
		<h1>Adressdaten</h1>
		<h:panelGrid columns="2">
			<h:outputText value="Straße:" />
			<h:inputText value="#{flowScope.street}" />
			<h:outputText value="PLZ:" />
			<h:inputText value="#{flowScope.zipCode}" />
			<h:outputText value="Ort:" />
			<h:inputText value="#{flowScope.city}" />
		</h:panelGrid>
		<h:commandButton value="Zurück" action="personalData" />
		<h:commandButton value="Weiter" action="confirmation" />
	</h:form> 
</h:body>
</html>
