<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">

<h:head>
    <title><h:outputText value="CDI" /></title>
</h:head>

<h:body>
	<h:form>
		<h1>Bestätigung</h1>
		<h:outputText value="#{flowScope.firstName}" />
		<h:outputText value="#{flowScope.lastName}" />
		<h:outputText value="#{flowScope.street}" /> <br />
		<h:outputText value="#{flowScope.zipCode}" /> <br />
		<h:outputText value="#{flowScope.city}" /> <br />
		<h:commandButton value="Ändern" action="personalData" />
		<h:commandButton value="Abschließen" action="#{registrationView.finishRegistration}" />
		<h:commandButton value="Bestätigungsemail senden" action="callConfirmationFlow" />
	</h:form>
</h:body>
</html>
