<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<title>SpaceGame - Zu den Waffen!</title>
</h:head>

<h:body>
		<h:form style="float:left">
			<h:panelGrid columns="2">
				<h:outputLabel value="#{labels['labelChooseLanguage']}" />
				<h:selectOneMenu value="#{i18nBean.localeCode}"
								 valueChangeListener="#{i18nBean.onLocaleCodeChange}">
					<f:selectItems value="#{i18nBean.languages}" 
								   var="language"
								   itemValue="#{language.languageCode}" 
								   itemLabel="#{language.languageDescription}" />
				</h:selectOneMenu>
				<h:commandButton value="#{labels['buttonChangeLanguage']}" />
			</h:panelGrid>
			
			<!-- <p:splitButton icon="/static/icons/flag_germany.png">
				<p:menuitem icon="/static/icons/flag_great_britain.png" />
			</p:splitButton> -->
		</h:form>	
		<br />
		<br />
		<h:form>
		<h1>#{labels.labelToWeapons}</h1>
		<h:panelGrid rows="2">
			<h:outputText value="#{labels.labelWhereToStartAttack}" />
			<h:selectOneListbox value="#{attackAPlanetView.selectedStartPlanet}">
				<f:selectItems value="#{attackAPlanetView.planetsOfUser}" 
							   var="planet"
							   itemLabel="#{planet.planetName}"
							   itemValue="#{planet}"/>
			</h:selectOneListbox>
			
			<h:commandButton value="#{labels.buttonChoosePlanet}" 
				actionListener="#{attackAPlanetView.onSelectStartPlanetClicked}" />	
			
			<h:outputText value="#{labels.labelChooseAttackingStarships}" />
			<h:selectManyCheckbox value="#{attackAPlanetView.selectedStarships}" 
								  converter="starshipConverter">
				<f:selectItems value="#{attackAPlanetView.availableStarships}" 
							   var="starship"
							   itemLabel="#{starship.starshipName}"
							   itemValue="#{starship}"/>
			</h:selectManyCheckbox>
			
			<h:outputText value="#{labels.labelChooseTargetPlayer}"/>
			<h:selectOneListbox value="#{attackAPlanetView.selectedUser}">
				<f:selectItems value="#{attackAPlanetView.users}" 
							   var="user"
							   itemLabel="#{user.username}"
							   itemValue="#{user}"/>
			</h:selectOneListbox>
			
		</h:panelGrid>
		<h:commandButton value="#{labels.buttonChooseTargetPlayer}" actionListener="#{attackAPlanetView.onSelectUserClicked}" />
		
		<h:panelGrid rows="2">
			<h:outputText value="#{labels.labelChooseTargetPlanet}"/>
			<h:selectOneListbox value="#{attackAPlanetView.selectedTargetPlanetId}">
				<f:selectItems value="#{attackAPlanetView.planetsOfEnemy}" 
							   var="planet"
							   itemLabel="#{planet.planetName}"
							   itemValue="#{planet.planetId}"/>
			</h:selectOneListbox>
		</h:panelGrid>
		
		<h:messages />
		<h:commandButton value="#{labels.buttonAttack}" actionListener="#{attackAPlanetView.attack}" />
		<h:commandButton value="#{labels.buttonCancel}"
				 immediate="true" 
				 action="tacticalOverview" />
		
		<h:outputFormat value="#{labels.labelWasPlanetDestroyed}">
			<f:param value="#{attackAPlanetView.planetDestroyed == false ? 'nicht' : ' '}" />
		</h:outputFormat> <br />
		<h3>#{labels.labelDestroyedStarships}</h3>
		<ul>
			<ui:repeat var="starship" value="#{attackAPlanetView.destroyedStarships}">
				<li><h:outputText value="#{starship.starshipName}" /></li>
			</ui:repeat>
		</ul>
	</h:form>
</h:body>
</html>