<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<title>SpaceGame - Raumschiff kaufen</title>
</h:head>

<body>
	<f:view>
		<h:form style="float:left">
			<h:panelGrid columns="2">
				<h:outputLabel value="#{labels['labelChooseLanguage']}" />
				<h:selectOneMenu value="#{i18nBean.localeCode}"
								 valueChangeListener="#{i18nBean.onLocaleCodeChange}">
					<f:selectItems value="#{i18nBean.languages}" 
								   var="language"
								   itemValue="#{language.languageCode}" 
								   itemLabel="#{language.languageDescription}" />
				</h:selectOneMenu>
				<h:commandButton value="#{labels['buttonChangeLanguage']}" />
			</h:panelGrid>
			
			<!-- <p:splitButton icon="/static/icons/flag_germany.png">
				<p:menuitem icon="/static/icons/flag_great_britain.png" />
			</p:splitButton> -->
		</h:form>	
		<br />
		<br />	
		<h:form>
			<h1>#{labels.labelBuyStarshipFor} #{buyAStarshipView.planet}</h1>
			<p><h:outputText value="#{labels.labelStarshipCount}" /> 
			<h:inputText value="#{buyAStarshipView.shipCount}" />
			<h:outputText value="#{labels.labelStarshipType}" /> 
			<h:selectOneMenu value="#{buyAStarshipView.starshipType}">
				<f:selectItem itemValue="TransportShip" 
							  itemLabel="Transportschiff" />
				<f:selectItem itemValue="Frigate" 
							  itemLabel="Fregatte" />
				<f:selectItem itemValue="SpyShip" 
							  itemLabel="Spionageschiff" />
			</h:selectOneMenu></p>
			<p><h:commandButton value="#{labels.buttonCalculateCosts}" 
						actionListener="#{buyAStarshipView.calculateCosts}" /></p>
			
			<h3>#{labels.labelCosts}</h3>
			<ul>
				<li>
					#{labels.labelMetal} <h:outputLabel value="#{buyAStarshipView.metalCosts}">
						<f:convertNumber pattern="###### 'Einheiten'"/>
					</h:outputLabel>
				</li>
				<li>
					#{labels.labelCrystal} <h:outputLabel value="#{buyAStarshipView.crystalCosts}">
						<f:convertNumber pattern="###### 'Einheiten'"/>
					</h:outputLabel>
				</li>
			</ul>
			
			<p><h:commandButton value="#{labels.buttonBuy}" 
								actionListener="#{buyAStarshipView.buyShips}" 
								action="tacticalOverview" /></p>
			<h:commandButton value="#{labels.buttonCancel}"
							 immediate="true" 
							 action="tacticalOverview" />
		</h:form>
	</f:view>
</body>
</html>
