<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
 
    <head>
        <title>Emailbestätigung erfolgreich</title>
    </head>
    <body>
        <h:form>
            <h1>Sie haben Ihre Emailadresse erfolgreich bestätigt</h1>
            <h:commandButton value="Weiter" action="finishConfirmation" />                
        </h:form>
    </body>
</html>