<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core">

    <cc:interface>
        <cc:attribute name="value" required="true" type="java.lang.String"/>
        <cc:attribute name="render" type="java.lang.String"/>
        <cc:attribute method-signature="void actionListener(javax.faces.event.AjaxBehaviorEvent)" name="listener"/>
    </cc:interface>
 
    <cc:implementation>
        <f:ajax listener="#{cc.attrs.listener}" render="#{cc.attrs.render}">
            <h:commandButton value="#{cc.attrs.value}" />
		</f:ajax>
    </cc:implementation>

</html>