<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite">
      
    <composite:interface />

	<composite:implementation>
		<h:form>
			<h1>SpaceGame - Impressum</h1>
			<p>Phil Harmonie</p>
			<p>Weltraumstraße 77</p>
			<p>1234567 Hinter dem Mond</p>
			<h:commandLink value="Startseite" action="login" />
		</h:form>
	</composite:implementation>
</html>