<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:composite="hhttp://xmlns.jcp.org/jsf/composite"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

	<composite:interface>
		<composite:attribute name="i18nBean" />
	</composite:interface>
	
	<composite:implementation>
			<h:panelGrid columns="2">
				<h:outputLabel value="#{labels['labelChooseLanguage']}" />
				<h:selectOneMenu value="#{i18nBean.localeCode}"
								 valueChangeListener="#{i18nBean.onLocaleCodeChange}">
					<f:selectItems value="#{i18nBean.languages}" 
								   var="language"
								   itemValue="#{language.languageCode}" 
								   itemLabel="#{language.languageDescription}" />
					<f:ajax render="@all" />
				</h:selectOneMenu>
			</h:panelGrid>
	</composite:implementation>

</html>