<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core">

	<composite:interface>
		<composite:attribute name="handler" />
	</composite:interface>
	
	<composite:implementation>
	    <h:form>
	        <h:panelGrid column="2">
	            <h:outputText value="#{labels.labelUsername}" /> 
	            <h:inputText value="#{cc.attrs.handler.username}" 
	            			 required="true" />
	            <h:outputText value="#{labels.labelPassword}" />
	            <h:inputText value="#{cc.attrs.handler.password}">
	            	<f:validateRequired />
	            </h:inputText>
	        </h:panelGrid>
	        <h:commandButton action="#{cc.attrs.handler.login}" 
	        				 value="#{labels.buttonLogin}"  />
	    </h:form>
	</composite:implementation>

</html>