<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

	<composite:interface>
	  <composite:attribute name="styleClass" default="box"/>
	  <composite:attribute name="style" required="false"/>
	  <composite:attribute name="headerClass" default="box-header"/>
	  <composite:facet name="header" required="false"/>
	</composite:interface>
	
	<composite:implementation>
	  <h:outputStylesheet library="mygourmet"
	       name="components.css"/>
	  <div class="#{cc.attrs.styleClass}"
	      style="#{cc.attrs.style}">
	    <c:if test="#{!empty cc.facets.header}">
	      <p class="#{cc.attrs.headerClass}">
	        <composite:renderFacet name="header"/>
	      </p>
	    </c:if>
	  <composite:insertChildren/>
	</div>
	</composite:implementation>

</html>