<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite"
      xmlns:o="http://xmlns.jcp.org/jsf/composite/olb">

	<composite:interface>
		<composite:attribute name="price" required="true" />
		<composite:attribute name="days" required="true" /> 
	</composite:interface>

	<composite:implementation>
		<o:pricePlanComp />
		<h:graphicImage library="images" width="150px"
						name="#{cc.attrs.days}.png" />
	</composite:implementation>
</html>