<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core">

<head>
	<title>SpaceGame - Zu den Waffen!</title>
</head>

<h:body>
	<h:form>
		<h1>Zu den Waffen!</h1>	
		<h:panelGrid rows="2">
			<h:outputText value="Von welchem Planeten wird der Angriff gestartet? " />
			<h:selectOneListbox value="#{attackAPlanetView.selectedStartPlanet}">
				<f:selectItems value="#{attackAPlanetView.planetsOfUser}" 
							   var="planet"
							   itemLabel="#{planet.planetName}"
							   itemValue="#{planet}"/>
			</h:selectOneListbox>
			
			<h:commandButton value="Planet wählen" 
				actionListener="#{attackAPlanetView.onSelectStartPlanetClicked}" />	
			
			<h:outputText value="Angreifende Raumschiffe wählen: " />
			<h:selectManyCheckbox value="#{attackAPlanetView.selectedStarships}" 
								  converter="starshipConverter">
				<f:selectItems value="#{attackAPlanetView.availableStarships}" 
							   var="starship"
							   itemLabel="#{starship.starshipName}"
							   itemValue="#{starship}"/>
			</h:selectManyCheckbox>
			
			<h:outputText value="Spieler wählen: "/>
			<h:selectOneListbox value="#{attackAPlanetView.selectedUser}">
				<f:selectItems value="#{attackAPlanetView.users}" 
							   var="user"
							   itemLabel="#{user.username}"
							   itemValue="#{user}"/>
			</h:selectOneListbox>
		</h:panelGrid>
		<h:commandButton value="Spieler wählen" actionListener="#{attackAPlanetView.onSelectUserClicked}" />
		
		<h:panelGrid rows="2">
			<h:outputText value="Zielplaneten wählen: "/>
			<h:selectOneListbox value="#{attackAPlanetView.selectedTargetPlanetId}">
				<f:selectItems value="#{attackAPlanetView.planetsOfEnemy}" 
							   var="planet"
							   itemLabel="#{planet.planetName}"
							   itemValue="#{planet.planetId}"/>
			</h:selectOneListbox>
		</h:panelGrid>
		
		<h:commandButton value="Angriff" actionListener="#{attackAPlanetView.attack}" />
		<h:outputText value="Planet wurde #{attackAPlanetView.planetDestroyed == false ? 'nicht' : ' '} besiegt" /> <br />
		<ul>
			<ui:repeat var="starship" value="#{attackAPlanetView.destroyedStarships}">
				<li><h:outputText value="#{starship.starshipName}" /></li>
			</ui:repeat>
		</ul>
	</h:form>
</h:body>
</html>