<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
	<h:head>
		<title>Beispiel - InputHidden</title>
	</h:head>
	<h:body>
		<h3>Beispiel - InputHidden</h3>
		<h4>Eingabe</h4>
		<hr />
		<h:form>
			<h:inputHidden value="#{demoInputHidden.value}" />
		</h:form>
	</h:body>
</html>