<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
	<h:head>
		<title>Beispiel - InputTextarea</title>
	</h:head>
	<h:body>
		<h3>Beispiel - InputTextarea</h3>
		<h4>Eingabe</h4>
		<hr />
			<h:form>
			    <h:outputLabel for="txtDescription">
			    	<h:outputText value="Erzählen Sie etwas über sich:" />
			    </h:outputLabel>
			    
			    <h:inputTextarea id="txtDescription"
			    				 value="#{demoInputTextarea.description}"
			    				 cols="20"
			    				 rows="10" />
			    
			    <h:commandButton value="Testen" />
		</h:form>
		
		<h4>Ausgabe</h4>
		<h:outputText value="Ihre Beschreibung: #{demoInputTextarea.description}" />
	</h:body>
</html>