<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
	<h:head>
		<title>Beispiel - OutputFormat</title>
	</h:head>
	<h:body>
		<h3>Beispiel - OutputFormat</h3>
		<hr />
		
		<h:outputFormat value="Hallo, {1} {0}. Sie arbeiten bei {2}">
			<f:param value="#{demoOutputFormat.lastName}" />
			<f:param value="#{demoOutputFormat.firstName}" />
			<f:param value="#{demoOutputFormat.company}" />
		</h:outputFormat>
	</h:body>
</html>