<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
	<h:head>
		<title>Beispiel - OutputText</title>
	</h:head>
	<h:body>
		<h3>Beispiel - OutputText</h3>
		<hr />
		<h:outputText value="Hallo Welt!" />
		<br />
		<h:outputText value="Ihr Name: #{demoOutputText.lastName}, #{demoOutputText.firstName}" />
		<br />
		<h:outputText value="#{demoOutputText.htmlText}"
					  escape="true" />
		<br />
		<h:outputText value="#{demoOutputText.htmlText}"
					  escape="false" />
	</h:body>
</html>