<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
	<h:head>
		<title>Beispiel - PanelGrid</title>
		<link href="style.css" rel="stylesheet" type="text/css" />
	</h:head>
	<h:body>
		<h3>Beispiel - PanelGrid</h3>
		<hr />
		
		<h:panelGrid columns="4"
					 styleClass="tableBackground"
					 columnClasses="oddColumn, evenColumn, oddColumn, evenColumn"
					 rowClasses="oddRow, evenRow"
					 headerClass="tableHeader"
					 footerClass="tableFooter">
			<f:facet name="header">
				<h:outputText value="Kopfzeile" />
			</f:facet>
			<h:outputText value="(1,1)" />
			<h:outputText value="(1,2)" />
			<h:outputText value="(1,3)" />
			<h:outputText value="(1,4)" />
			<h:outputText value="(2,1)" />
			<h:outputText value="(2,2)" />
			<h:outputText value="(2,3)" />
			<h:outputText value="(2,4)" />
			<h:outputText value="(3,1)" />
			<h:outputText value="(3,2)" />
			<h:outputText value="(3,3)" />
			<h:outputText value="(3,4)" />	
			<f:facet name="footer">
				<h:commandButton value="Senden" />
				<h:commandButton value="Abbrechen" />
			</f:facet>		
		</h:panelGrid>
		
		<h:form>
			<h:panelGrid columns="2">
				<h:outputLabel for="txtFirstName" value="Ihr Vorname: " />
				<h:inputText id="txtFirstName" />
				<h:outputLabel for="txtLastName" value="Ihr Nachname: " />
				<h:inputText id="txtLastName" />
				<h:outputLabel for="txtStreet" value="Straße: " />
				<h:inputText id="txtStreet" />
				<h:outputLabel for="txtZipCode" value="PLZ: " />
				<h:inputText id="txtZipCode" />
				<h:outputLabel for="txtCity" value="Ort: " />
				<h:inputText id="txtCity"/>
			</h:panelGrid>
		</h:form>
	</h:body>
</html>