<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
	<h:head>
		<title>Beispiel - PanelGroup</title>
		<link href="style.css" rel="stylesheet" type="text/css"/>
	</h:head>
	<h:body>
		<h3>Beispiel - PanelGroup</h3>
		<hr />
		<h:panelGroup>
			<h:outputText value="Irgendwas schlaues" />
			<h:inputText />
			<h:commandButton value="Senden" />
		</h:panelGroup>
	</h:body>
</html>