<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
	<h:head>
		<title>Beispiel - SelectBooleanCheckbox</title>
	</h:head>
	<h:body>
		<h3>Beispiel - SelectBooleanCheckbox</h3>
		<h4>Eingabe</h4>
		<hr />
		<h:form id="inputForm">
			<h:selectBooleanCheckbox value="#{demoSelectBooleanCheckbox.newsletter}" />
			<h:outputText value="Newsletter bestellen" />
			<br />
			<h:commandButton value="Testen" />
		</h:form>
		<hr />
		<h4>Ausgabe</h4>
		<h:outputText value="#{demoSelectBooleanCheckbox.newsletter}" />
	</h:body>
</html>