.tableBackground{background-color:grey;}
.oddColumn{background-color:red}
.evenColumn{background-color:white}
.oddRow{font-weight:bold; color:aqua}
.evenRow{font-style:italic; color:green}
.tableHeader{font-size: larger}
.tableFooter{font-size: x-small}