<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">

<h:head>
    <title><h:outputText value="CDI" /></title>
</h:head>

<h:body>
	<p><h:outputText value="#{cdiBean.text}" /></p>
	<p><h:outputText value="#{cdiBean.requestBean.text}" /></p>
	<p><h:outputText value="#{cdiBean.service.integer}" /></p>
	<p><h:outputText value="#{cdiBean.anotherService.integer}" /></p>
	<p><h:outputText value="#{cdiBean.viewBean.text}" /></p>
	<p><h:outputText value="#{cdiBean.random}" /></p>
	<p><h:outputText value="#{cdiBean.currentDate}">
		<f:convertDateTime pattern="dd.MM.yyyy hh:mm:ss" />
	</h:outputText></p>
	<p><h:outputText value="#{cdiBean.anotherValue}" /></p>
</h:body>
</html>
