#logo {
	position:relative;
	left:500px;
}

#head {
	width: 100%;
	float: left;
	position:relative;
	margin-bottom: 2px;
	margin-right: 2px;
}

#language {
	width: 20%;
	float: left;
	position:relative;
	margin-bottom: 2px;
	margin-right: 2px;
}

#pageTitle {
	width: 70%;
	height:70px;
	float: left;
	right:0px;
	position:relative;
	margin-bottom: 2px;
	margin-right: 2px;
}

#ingameLinks {
	width: 20%;
	float: left;
	position:relative;
	top:0px;
	left:0px;
	margin-bottom: 2px;
	margin-right: 2px;
}

#game {
	float:left;
	right: 10px;
	position:relative;
	width:50%;
	line-height:18px;
	margin-right: 2px;
}

#statistics {
	float:left;
	right: 10px;
	position:relative;
	width:20%;
	line-height:18px;
	margin-right: 2px;
}

#links {
	position:absolute;
	left:0px;
	top:600px;
	text-align: left;
}