<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<title>SpaceGame - Taktischer Überblick</title>
</h:head>

<h:body>
	<f:view>
		<ui:component>
		
			<h2><h:outputText value="#{starshipImageBean.determineBla(starshipType)}" /></h2>
			<ui:remove><h:graphicImage width="10%" 
						    library="images" 
						    name="#{starshipImageBean.image}"/></ui:remove>
		</ui:component>
	</f:view>
</h:body>
</html>
