<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<title>SpaceGame - Taktischer Überblick</title>
</h:head>

<h:body>
	<f:view>
		<ui:composition template="template.xhtml">
			<ui:define name="pageTitle">
				<h1>Taktischer Überblick</h1>
			</ui:define>
						
			<ui:define name="game">
			<h:form>
				<f:event type="preRenderView" listener="#{tactical.initialize}" />
				<p><h:outputText value="#{labels.labelMyPlanets}" />
				<h:selectOneMenu value="#{tactical.selectedPlanet}"
								 valueChangeListener="#{tactical.changePlanet}"
								 id="slctPlanets">
					<f:selectItems value="#{tactical.myPlanets}"
								   var="myPlanet" 
								   itemValue="#{myPlanet}" 
								   itemLabel="#{myPlanet.planetName}" />
					<f:ajax render="tblStarships" />
				</h:selectOneMenu>
				<br />
				<h:message for="slctPlanets" />
				<br />
				</p>
				
				<ui:include src="starshipTable.xhtml" />
				
				<ui:include src="showStarship.xhtml">
					<ui:param name="starshipName"
							  value="#{tactical.currentStarship.starshipName}" />
					<ui:param name="starshipIndex"
							  value="#{tactical.currentStarshipIndex}" />
				</ui:include>
				
				<h:messages globalOnly="true" 
						    showDetail="true" showSummary="false" />
			</h:form>
			</ui:define>
		</ui:composition>
	</f:view>
</h:body>
</html>
