<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
      
<h:head>
	<title>
		<ui:insert name="title">
			Default-Title
		</ui:insert>
	</title>
	<link rel="stylesheet" type="text/css" href="spacegame.css" />
</h:head>

<h:body>
	<f:view locale="#{i18nBean.localeCode}">
		<div id="spacegame">
			<div id="head">
				<ui:include src="head.xhtml" />
			</div>
			<div id="language">
				<ui:include src="#{i18nBean.urlLanguage}" />
			</div>
			<div id="pageTitle">
				<ui:insert name="pageTitle">
					Hier steht der Titel der Seite!
				</ui:insert>
			</div>
			<div id="ingameLinks">
				<ui:include src="#{loginView.urlIngameLinks}" />
			</div>
			<div id="game">
				<ui:insert name="game">
					Hier sollten Spielelemente zu sehen sein!
				</ui:insert>
			</div>
			<div id="statistics">
				<ui:include src="statistics.xhtml" />
			</div>
			<div id="links">
				<ui:include src="links.xhtml" />
			</div>
		</div>
	</f:view>
</h:body>
</html>