<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core">

<head>
	<title>SpaceGame - Name eines Raumschiffs ändern</title>
</head>

<body>
	<f:view>
		<h:form>
			<h1>Name eines Raumschiffs ändern</h1>
			<h:panelGrid columns="2">
				<h:outputText value="Name des Raumschiffs #{renameStarshipView.oldStarshipName} ändern" /> 
				<h:inputText value="#{renameStarshipView.starshipName}" />
			</h:panelGrid>
			<h:commandButton value="Speichern" 
							 actionListener="#{renameStarshipView.renameStarship}" 
							 action="tacticalOverview" />
		</h:form>
	</f:view>
</body>
</html>