<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<title>SpaceGame - Einloggen</title>
</h:head>

<h:body>
	<f:view locale="#{i18nBean.localeCode}">
		<h:form>
			<h:outputLabel for="slctLanguages" value="#{labels.labelChooseLanguage}" />
			<h:selectOneMenu value="#{i18nBean.localeCode}">
				<f:selectItems value="#{i18nBean.languages}"
							   var="language"
							   itemValue="#{language.languageCode}"
							   itemLabel="#{language.languageDescription}" />
			</h:selectOneMenu>
			<h:commandButton value="#{labels.buttonChangeLanguage}" />
		</h:form>
		<br />
		<br />
		
		<h:outputFormat value="#{msg.today}">
			<f:param value="#{currentDate}" />
		</h:outputFormat>
		
		<h:form>
		<f:event listener="#{loginView.initialize}" 
				 type="preRenderView" />
		
			<h1>#{labels.labelLogin}</h1>
			<h:panelGrid columns="2">
				<h:outputText value="#{labels['labelUsername']}" /> 
				<h:inputText value="#{loginView.username}" />
				<h:outputText value="#{labels.labelPassword}" /> 
				<h:inputText value="#{loginView.password}" />
			</h:panelGrid>
			<h:commandButton value="#{labels.buttonLogin}" action="#{loginView.login}" />
			<p><h:commandLink action="impressum" value="#{labels.buttonImpressum}" /></p>
			<p><h:commandLink action="#{loginView.toRegisterPage}" value="#{labels.buttonRegistration}" /></p>
		</h:form>
	</f:view>
</h:body>
</html>
