<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<title>JavaScript-Ereignisse</title>
</h:head>

<h:body>
	<f:view>
 	<h:form id="form">
 		<h:outputLabel value="keyupEvent: " for="txtQuersumme" />
 		<h:inputText value="#{eventBean.zahlQuersumme}" id="txtQuersumme">
 			<f:ajax listener="#{eventBean.berechneQuersumme}"
 					event="keyup"
 					render="lblQuersumme" />
 		</h:inputText>
	</h:form>
	<h:outputText value="#{eventBean.quersumme}" id="lblQuersumme" />
	
	<h:outputLabel id="lblMaus" value="Bewege die Maus über mich!"
				  style="#{eventBean.style}">
		<f:ajax listener="#{eventBean.onMouseOver}"
				event="mouseover"
				render="lblMaus" />
		<f:ajax listener="#{eventBean.onMouseOut}"
				event="mouseout"
				render="lblMaus" />
	</h:outputLabel>
	
	<br />
	<h:outputLabel value="Fang mich mit Doppelklick!" id="lblFang"
				   style="#{eventBean.position}">
		<f:ajax event="dblclick" listener="#{eventBean.onDblClick}"
				render="lblFang" />
	</h:outputLabel>
	</f:view>
</h:body>
</html>
