<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
      
	<h:head>
		<title>Ajax-Beispiel für execute="@form"</title>
	</h:head>
	<h:body>
		<h:form>
			Kundennummer:
			<h:inputText value="#{bankingBeanAjax.customerId}" /><br />
			Passwort:
			<h:inputSecret value="#{bankingBeanAjax.password}" />
					
			<h:commandButton value="Zeige Kontostand" 
							 actionListener="#{bankingBeanAjax.showBalance}">
				<f:ajax render="ajaxMessage" execute="@form"/>
			</h:commandButton>
			
			<h2><h:outputText value="#{bankingBeanAjax.message}" 
												    id="ajaxMessage" /></h2>
		</h:form>
	</h:body>
</html>