<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core">

<head>
	<title>Zeichen-Zaehler</title>
</head>

<body>
	<f:view>
		<h:form id="frmRegistration">
				<h:outputText value="Bitte geben Sie einen Text ein" /> 
				<h:inputText value="#{charCounterBean.text}" id="txtInput" valueChangeListener="#{charCounterBean.countChars}">
					<f:ajax render="lblCharCounter" />
				</h:inputText>
				<br />
				<br />								
				<h:outputText value="#{charCounterBean.counter}" id="lblCharCounter" />
		</h:form>
	</f:view>
</body>
</html>
