<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
      
	<h:head>
		<title>Ajax-Beispiel für execute</title>
	</h:head>
	<h:body>
		<h3>Zeige mir eine Zufallszahl</h3>
			<h:form>
				Bereich: <h:inputText value="#{numberGeneratorBean.range}" id="txtRange" />
				<h:commandButton value="Zeige Zahl" 
								 actionListener="#{numberGeneratorBean.randomize}">
					<f:ajax render="lblNumber" execute="txtRange" />
				</h:commandButton>
				
				<h2><h:outputText value="#{numberGeneratorBean.randomNumber}" 
								  id="lblNumber"/></h2>
			</h:form>
	</h:body>
</html>