<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
	<h:head>
		<title>Beispiel - SelectOne</title>
	</h:head>
	<h:body>
		<h3>Beispiel - SelectOne</h3>
		<h4>Eingabe</h4>
		<hr />
		<f:event type="preRenderView"
				 listener="#{selectOneView.initialize}" />
		
		<h:form id="inputForm">
			<h:selectOneRadio id="lstCountries"
								value="#{selectOneView.selectedCountry}">
				<f:selectItems value="#{selectOneView.countries}" />					
			</h:selectOneRadio>
			
			<br />
			<h:selectOneMenu id="rdoGender" value="#{selectOneView.selectedGender}">
				<f:selectItem itemLabel="männlich" itemValue="m" />
				<f:selectItem itemLabel="weiblich" itemValue="w" />
				<f:selectItem itemLabel="neutral" itemValue="x" />
			</h:selectOneMenu>
			<br />
			<h:selectOneListbox id="mnuLanguages" value="#{selectOneView.selectedLanguage}">
				<f:selectItems value="#{selectOneView.languages}"
							   var="language"
							   itemLabel="#{language.languageName}"
							   itemValue="#{language.languageCode}" />
			</h:selectOneListbox><br />
			<h:commandButton value="Senden" />
		</h:form>
		<hr />
		<h4>Ausgabe</h4>
		<h:outputLabel value="#{selectOneView.selectedCountry}" /><br />
		<h:outputLabel value="#{selectOneView.selectedGender}" /><br />
		<h:outputLabel value="#{selectOneView.selectedLanguage}" /><br />
	</h:body>
</html>