<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<title>Beispiel  Phase-Listeners</title>
</h:head>

<h:body>
	<f:view>
		<f:phaseListener 
			type="de.christopherolbertz.actionevents.listeners.MyPhaseListener" />
	
		<h:form>
			<h:outputText value="Daten: " />
			<h:inputText vaue="#{phaseEventView.data}" />
			<br />
			<h:commandButton value="Speichern" 
				actionListener="#{phaseEventView.onSave}" />
			<h:commandButton value="Abbrechen" 
				actionListener="#{phaseEventView.onCancel}" />
		</h:form>
	</f:view>
</h:body>
</html>