<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">

<h:head>
    <title>Einfaches ValueChangeEvent</title>
</h:head>
<h:body>
	<h:form>
		<h:inputText value="#{valueChangeEventBean.inputText}"
					 valueChangeListener="#{valueChangeEventBean.onTextChanged}" /> <br />
		<h:outputText value="#{valueChangeEventBean.outputText}" /> <br/>
		<h:commandButton value="Senden" />				
 	</h:form>
</h:body>
</html>
