<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">

<h:head>
    <title>ValueChangeListener-Klassen</title>
</h:head>
<h:body>
	<h:form>
		<h:panelGrid columns="2">
			<h:outputLabel value="Text: " />
			<h:inputText>
				<f:valueChangeListener 
					type="de.christopherolbertz.valuechangeevents.listener.CaesarEncryptionValueChangeListener"/>
				<f:valueChangeListener 
					type="de.christopherolbertz.valuechangeevents.listener.CaesarDecryptionValueChangeListener"/>
			</h:inputText>
			
			<h:outputLabel value="Verschlüsselt: " />
			<h:outputLabel id="txtEncryped" />
			
			<h:outputLabel value="Entschlüsselt: " />
			<h:outputLabel id="txtDecrypted" />
		</h:panelGrid>
		<h:commandButton value="Senden" />				
 	</h:form>
</h:body>
</html>
