<f:view xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core">
	<h3><h:outputLabel value="Ihr Alter #{registrationView.age}" /></h3>

	<ui:fragment rendered="#{registrationView.age > 18}">
		<h3>Du bist alt genug!</h3>
	</ui:fragment>
</f:view>