<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:o="http://xmlns.jcp.org/jsf/composite/olb">

<h:head>
	<title>SpaceGame - Zu den Waffen!</title>
</h:head>

<h:body>
	<ui:composition template="template.xhtml">
		<ui:define name="pageTitle">
			<h1>#{labels.labelToWeapons}</h1>
		</ui:define>
		<ui:define name="game">
		<h:form>	
		
		<h:panelGrid rows="2">
			<h:outputText value="#{labels.labelWhereToStartAttack}" />
			<h:selectOneListbox value="#{attackAPlanetView.selectedStartPlanet}"
								id="slctStartPlanet">
				<f:selectItems value="#{attackAPlanetView.planetsOfUser}" 
							   var="planet"
							   itemLabel="#{planet.planetName}"
							   itemValue="#{planet}"/>
				<f:ajax render="grpAvailableStarships"  
						listener="#{attackAPlanetView.onSelectStartPlanetClicked}"/>
			</h:selectOneListbox>
			
			<o:planetSelectionComp 
				selectedPlanet="#{attackAPlanetView.selectedStartPlanet}"
				planets="#{attackAPlanetView.planetsOfUser}"
				listener="#{attackAPlanetView.onSelectStartPlanetClicked(event)}"
				render="grpAvailableStarships"
				label="#{labels.labelWhereToStartAttack}" />					
			
			<h:panelGroup id="grpAvailableStarships">
				<h:outputText value="#{labels.labelChooseAttackingStarships}" 
							  id="lblAvailableStarships" 
							  rendered="#{attackAPlanetView.startPlanetSelected}"/>
				<h:selectManyCheckbox value="#{attackAPlanetView.selectedStarships}" 
									  converter="starshipConverter"
									  id="chkAvailableStarships" 
									  rendered="#{attackAPlanetView.startPlanetSelected}">
					<f:selectItems value="#{attackAPlanetView.availableStarships}" 
								   var="starship"
								   itemLabel="#{starship.starshipName}"
								   itemValue="#{starship}"/>
					<f:ajax render="grpTargetPlayer"
							listener="#{attackAPlanetView.onSelectStarship}" />
				</h:selectManyCheckbox>
			</h:panelGroup>
			
			<h:panelGroup id="grpTargetPlayer">
				<h:outputText value="#{labels.labelChooseTargetPlayer}"
							  rendered="#{attackAPlanetView.starshipsSelected}" />
				<h:selectOneListbox value="#{attackAPlanetView.selectedUser}"
									rendered="#{attackAPlanetView.starshipsSelected}">
					<f:selectItems value="#{attackAPlanetView.users}" 
								   var="user"
								   itemLabel="#{user.username}"
								   itemValue="#{user}"/>
					<f:ajax render="grpTargetPlanets" 
							listener="#{attackAPlanetView.onSelectUserClicked}"/>
				</h:selectOneListbox>
			</h:panelGroup>
		</h:panelGrid>
		
		<h:panelGrid rows="2" id="grpTargetPlanets">
			<h:outputText value="#{labels.labelChooseTargetPlanet}" 
					      rendered="#{attackAPlanetView.userSelected}"/>
			<h:selectOneListbox value="#{attackAPlanetView.selectedTargetPlanetId}" 
								id="scltTargetPlanets"
								rendered="#{attackAPlanetView.userSelected}">
				<f:selectItems value="#{attackAPlanetView.planetsOfEnemy}" 
							   var="planet"
							   itemLabel="#{planet.planetName}"
							   itemValue="#{planet.planetId}"/>
				<f:ajax render="btnAttack" 
						listener="#{attackAPlanetView.onStartAttackClicked}"/>
			</h:selectOneListbox>
		</h:panelGrid>
		
		<h:messages />
		<h:commandButton value="#{labels.buttonAttack}" 	
						 actionListener="#{attackAPlanetView.attack}"
						 disabled="#{!attackAPlanetView.attackReady}"
						 id="btnAttack">
			<f:ajax render="grpAttackFinished"/>				 
		</h:commandButton>
		<h:commandButton value="#{labels.buttonCancel}"
						 immediate="true" 
						 action="tacticalOverview" />
		
		<br />
		<h:panelGroup id="grpAttackFinished">
			<h:outputFormat value="#{labels.labelWasPlanetDestroyed}"
							rendered="#{attackAPlanetView.attackFinished}">
				<f:param value="#{attackAPlanetView.planetDestroyed == false ? 'nicht' : ' '}" />
			</h:outputFormat>
			<h3>
				<h:outputLabel rendered="#{attackAPlanetView.attackFinished}"
							   value="#{labels.labelDestroyedStarships}" />
			</h3>
			<stl:unorderedListComp value="#{attackAPlanetView.destroyedStarships}" 
								   rendered="#{attackAPlanetView.attackFinished}" />
		</h:panelGroup>
	</h:form>
	</ui:define>
	</ui:composition>
</h:body>
</html>