<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:o="http://xmlns.jcp.org/jsf/composite/olb">

<h:head>
	<title>SpaceGame - Einloggen</title>
</h:head>

<h:body>
	<ui:composition template="template.xhtml">
		<ui:define name="pageTitle">
			<h1>#{labels.labelLogin}</h1>
		</ui:define>
		
		<ui:define name="game">
			<o:loginComp handler="#{loginView}" />
		</ui:define>
	</ui:composition>
</h:body>
</html>
