<f:view xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
	<table border="1" bgcolor="salmon" width="50%" align="center">
	<tr>
	<td>
	<ui:decorate template="template.xhtml">
		<ui:define name="pageTitle">
			<h1>Ein Seitentitel in einer Tabelle</h1>
		</ui:define>
	</ui:decorate>
	</td>
	</tr>
	</table>
</f:view>