<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" 
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:o="http://xmlns.jcp.org/jsf/composite/olb">

<head>
	<title>SpaceGame Preise</title>
</head>

<body>
	<f:view>
		<ui:composition template="template.xhtml">
			<ui:define name="pageTitle">
				<h1>#{labels.labelPrices}</h1>
			</ui:define>
			<ui:define name="game">
				<ul>
					<li><o:priceComp price="45" days="30" /></li>
					<li><o:priceComp price="30" days="7" /></li>
					<li><o:priceComp price="5" days="1" /></li>
				</ul>
			</ui:define>
		</ui:composition>
	</f:view>
</body>
</html>
