<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<title>SpaceGame</title>
</h:head>

<h:body>
	Das hier wird nicht eingebunden!
	<ui:composition>
		<h2>Spielstatistiken</h2>
		<ul style="list-style-type:none">
			<li>Anzahl Spieler: 
				<h:outputText value="#{statisticView.userCount}"/></li>
			<li>Anzahl Raumschiffe: 
				<h:outputText value="#{statisticView.starshipCount}"/></li>
			<li>Anzahl Planeten: 
				<h:outputText value="#{statisticView.planetCount}"/></li>
		</ul>
	</ui:composition>
	Das hier wird auch nicht eingebunden!
</h:body>
</html>
