<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">

<head>
    <title><h:outputText value="ManagedProperties" /></title>
</head>

<body>
	<h3><h:outputText value="#{managedPropertiesView.anyNumber}" /></h3>
	<p><h:outputText value="#{managedPropertiesView.anyString}" /></p>
	<p><h:outputText value="#{managedPropertiesView.injectedBean.anyLong}" /></p>
</body>
</html>
