<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
	<h:head>
		<title>Beispiele zu vordefinierten Variablen</title>
	</h:head>
	<h:body>
		<h3>Beispiele zu vordefinierten Variablen</h3>
		<h:outputText value="User-Agent: #{header['User-Agent']}" /> <br />
		<h:outputText value="Lokalisiert auf: #{view.locale}" /> <br />
	</h:body>
</html>