<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
	<h:head>
		<title>Beispiel zu Gültigkeitsbereichen</title>
	</h:head>
	<h:body>
		<h3>Welchen Gültigkeitsbereich möchten Sie testen?</h3>
		<h:form>
			<h:commandLink value="none" action="loginNone.jsf" target="_blank"/> <br /> 
			<h:commandLink value="request" action="loginRequest.jsf" target="_blank"/> <br />
			<h:commandLink value="session" action="loginSession.jsf" target="_blank"/> <br />
			<h:commandLink value="application" action="loginApplication.jsf" target="_blank"/> <br />
			<h:commandLink value="view" action="loginView.jsf" target="_blank"/> <br />
		</h:form>
	</h:body>
</html>