<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:stl="http://java.sun.com/jsf/composite/stl">

	<h:head>
		
	</h:head>
	
	<h:body> 
        <h:form id="form1">
            <stl:commandButtonComp value="AJAX Update" render=":form1:out"
                                       listener="#{commandButtonBean.update(event)}" />
             
 			<br />
            <h:outputText id="out" value="AJAX Submissions: #{commandButtonBean.count}"/>   
        </h:form>
	</h:body>
</html>