<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:o="http://java.sun.com/jsf/composite/olb">

	<h:head>
		
	</h:head>
	
	<h:body> 
		<h1>Welches Obst essen Sie gerne?</h1>
		<o:dualListComp dualListHandler="#{dualListHandler}"
						  id="fruitDualList" />
	</h:body>
</html>