<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:stl="http://java.sun.com/jsf/composite/stl">

<h:head>
	<title>STL - Menü</title>
	<h:outputStylesheet name="stylesheet.css" />
</h:head>

<h:body>
	<h:form>
		<f:view>
			<stl:panelBox id="menu">
			  <f:facet name="header">
			    <h:outputText value="#{messagesBean.menuTitle}"/>
			  </f:facet>
			  <h:panelGrid columns="1">
			    <h:commandLink
			        value="#{messagesBean.menuProviderList}"/>
			    <h:commandLink outcome="showCustomer"
			        value="#{messagesBean.menuShowCustomer}"/>
			  </h:panelGrid>
			</stl:panelBox>
			
			
			<stl:panelBox id="news">
			  <f:facet name="header">
			    <h:outputText value="#{messagesBean.newsTitle}"/>
			  </f:facet>
			  <p>Das ist ein tolles Beispiel für zusammengesetzte
			   Komponenten</p>
			</stl:panelBox>
		</f:view>
	</h:form>
</h:body>
</html>
