<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core">
      

<head>
	<title>Datum und Uhrzeit konvertieren</title>
</head>
<h:body>
	<f:view>
		<h:form>
			<h:panelGrid columns="2">
				<h:outputLabel value="Datum und Uhrzeit im Format dd.MM.yyyy eingeben: " />
				<h:inputText value="#{dateTimeView.date}">
					<f:convertDateTime pattern="dd.MM.yyyy" />
				</h:inputText>
				
				<h:commandButton value="Los!" />
				
				<h:outputText value="#{dateTimeView.date}">
					<f:convertDateTime type="date" />				
				</h:outputText>
			</h:panelGrid>
		</h:form>
		
		<h:form>
			<h:panelGrid columns="2">
				<h:outputLabel value="Datum und Uhrzeit im Format dd.MM.yyyy hh:mm:ss eingeben: " />
				<h:inputText value="#{dateTimeView.date}">
					<f:convertDateTime pattern="dd.MM.yyyy hh:mm:ss" />
				</h:inputText>
				
				<h:commandButton value="Los!" />
				
				<h:outputText value="#{dateTimeView.date}">
					<f:convertDateTime type="both" />				
				</h:outputText>
			</h:panelGrid>
		</h:form>
		

		<h1>Attribute dateStyle und type</h1>			
		<table border="1">
			<tr><th>short</th><th>medium</th><th>long</th><th>full</th><th>full both</th><th>long both</th></tr>
			<tr>
				<td><h:outputText value="#{dateTimeView.date}">
					<f:convertDateTime dateStyle="short" />				
				</h:outputText>
				</td>
				<td><h:outputText value="#{dateTimeView.date}">
					<f:convertDateTime dateStyle="medium" />				
				</h:outputText>
				</td>						
				<td><h:outputText value="#{dateTimeView.date}">
					<f:convertDateTime dateStyle="long" />				
				</h:outputText>
				</td>						
				<td><h:outputText value="#{dateTimeView.date}">
					<f:convertDateTime dateStyle="full" />				
				</h:outputText>
				</td>
				<td><h:outputText value="#{dateTimeView.date}">
					<f:convertDateTime dateStyle="full" type="both" />				
				</h:outputText>
				</td>
				<td><h:outputText value="#{dateTimeView.date}">
					<f:convertDateTime dateStyle="long" type="both" />				
				</h:outputText>
				</td>											
			</tr>
		</table>
		
		<h1>Verschiedene Zeitzonen</h1>
		<table border="1">
			<tr><th>Honolulu</th><th>Hobart</th><th>Paris</th><th>Tokio</th><th>Maseru</th><th>Los Angeles</th><th>Davis</th></tr>
			<tr>
				<td><h:outputText value="#{dateTimeView.date}">
					<f:convertDateTime timeZone="Pacific/Honolulu" type="both" />				
				</h:outputText>
				</td>
				<td><h:outputText value="#{dateTimeView.date}">
					<f:convertDateTime timeZone="Australia/Hobart" type="both" />				
				</h:outputText>
				</td>						
				<td><h:outputText value="#{dateTimeView.date}">
					<f:convertDateTime timeZone="Europa/Paris" type="date" />				
				</h:outputText>
				</td>			
				<td><h:outputText value="#{dateTimeView.date}">
					<f:convertDateTime timeZone="Asia/Tokyo" pattern="dd.MM.yyyy, E" />				
				</h:outputText>
				</td>										
				<td><h:outputText value="#{dateTimeView.date}">
					<f:convertDateTime timeZone="Africa/Maseru" type="both" />				
				</h:outputText>
				</td>
				<td><h:outputText value="#{dateTimeView.date}">
					<f:convertDateTime timeZone="America/Los_Angeles" type="both" />				
				</h:outputText>
				</td>
				<td><h:outputText value="#{dateTimeView.date}">
					<f:convertDateTime timeZone="Antartica/Davis" type="both" />				
				</h:outputText>
				</td>											
			</tr>
		</table>		
		
		<h1>Einige Patterns</h1>
		<table border="1">
			<tr><th>dd.MM.yyyy</th><th>yyyy.MM.dd</th><th>'Heute,' EEEE 'der' dd. MMMM yyyy</th><th>'Datum:' dd.MM.yyyy G 'Uhrzeit:' HH:mm:ss:SSS</th></tr>
			<tr>
				<td><h:outputText value="#{dateTimeView.date}">
					<f:convertDateTime pattern="dd.MM.yyyy" />				
				</h:outputText>
				</td>
				<td><h:outputText value="#{dateTimeView.date}">
					<f:convertDateTime pattern="yyyy.MM.dd" />				
				</h:outputText>
				</td>
				<td><h:outputText value="#{dateTimeView.date}">
					<f:convertDateTime pattern="'Heute,' EEEE 'der' dd. MMMM yyyy" />				
				</h:outputText>
				</td>						
				<td><h:outputText value="#{dateTimeView.date}">
					<f:convertDateTime pattern="'Datum:' dd.MM.yyyy G 'Uhrzeit:' HH:mm:ss:SSS" />				
				</h:outputText>
				</td>			
				<td>
				</td>										
			</tr>
		</table>						
		<h:messages showDetail="true" />
	</f:view>
</h:body>
</html>
