<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core">
      

<h:head>
	<link rel="stylesheet" href="#{request.contextPath}/css/style.css" type="text/css" />
	<title>Lokaler anwendungsdefinierter Konvertierer</title>
</h:head>
<h:body>
	<h:form>
		<h:panelGrid columns="3">
			<h:outputText value="Bitte geben Sie eine Bundeswehr-PK ein: " />
			<h:inputText value="#{pkConverterView.pk}" id="txtPk">
				<f:converter converterId="pkConverter" />
			</h:inputText>
			<h:message for="txtPk" />
			
			<h:commandButton value="Senden" />
			<h:outputText value="Gelesen wurde Pk #{pkConverterView.pk}" />
		</h:panelGrid>
	</h:form>
	
	<h:form>
		<h:panelGrid columns="3">
			<h:outputText value="Bitte geben Sie eine Bundeswehr-PK ein: " />
			<h:inputText value="#{pkConverterView.pk2}" id="txtPk2" />
			<h:message for="txtPk" />
			
			<h:commandButton value="Senden" />
			<h:outputText value="Gelesen wurde Pk #{pkConverterView.pk2}" />
		</h:panelGrid>
	</h:form>	
</h:body>
</html>
